@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  --line: 1px;
  --xxs: 5px;
  --xs: 10px;
  --sm: 20px;
  --md: 40px;
  --lg: 100px;
  --xl: 150px;
  --xxl: 800px;

  --white: #ffffff;
  --light-gray: #e0e0e0;
  --black: #000000;
  --pink: #e91e63;

  --serif: 'EB Garamond', serif;
  --sans: 'Lato', sans-serif;

  --fast: 0.25s ease;

  font-family: var(--serif);
  line-height: 1.5em;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
header,
footer {
  background: var(--pink);
  color: var(--white);
  text-align: center;
}
header {
  padding: var(--lg) var(--sm);
}
footer {
  padding: var(--md) var(--sm);
}
footer,
footer * {
  font-family: var(--sans);
}
header a,
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: var(--sm) 0;
  color: var(--white);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--xxl);
}
main > section {
  margin: var(--md) auto;
  padding: 0 var(--sm);
}
hr {
  background: var(--light-gray);
  background-clip: content-box;
  border: none;
  height: var(--line);
  margin: 0 auto;
  padding: 0 var(--sm);
  max-width: var(--xxl);
}
h1 {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  flex-basis: 100%;
  margin: 0;
  word-break: break-word;
}
h2 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  font-style: italic;
  flex-basis: 100%;
  margin: 0;
  word-break: break-word;
}
h3 {
  font-size: 1.65em;
  font-weight: bold;
  flex-basis: 100%;
  text-align: center;
  margin: 1em 0 0.5em 0;
  padding-bottom: var(--xs);
  border-bottom: solid var(--line) var(--light-gray);
}
h4 {
  font-size: 1.25em;
  font-weight: bold;
  flex-basis: 100%;
  margin: 1em 0 0.5em 0;
}
a {
  color: var(--pink);
}
p,
ul,
ol {
  flex-basis: 100%;
  margin: 0.5em 0;
}
.col {
  margin: var(--xs) var(--sm);
}
.vr {
  height: var(--xl);
  border-radius: 100%;
}
.cc_icon {
  height: var(--sm);
  margin-right: var(--xxs);
}
.cc_icon:first-of-type {
  margin-left: var(--xxs);
}
.greene_lab {
  height: var(--md);
}
figure {
  display: inline-block;
}
figure > img {
  width: var(--xl);
  height: var(--xl);
}
figure > figcaption {
  width: 100%;
  margin-top: var(--xs);
  text-align: center;
  font-style: italic;
}
.spoiler {
  background: var(--black);
  transition: background var(--fast);
}
.spoiler:hover {
  background: none;
}
@media screen and (min-width: 800px) {
}
@media screen and (max-width: 800px) {
}
