@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500');

* {
  --line: 1px;
  --xxs: 5px;
  --xs: 10px;
  --sm: 20px;
  --md: 40px;
  --lg: 100px;
  --xl: 150px;
  --xxl: 200px;
  --xxxl: 300px;
  --huge: 800px;

  --white: #ffffff;
  --light-gray: #e0e0e0;
  --gray: #a0a0a0;
  --dark-gray: #202020;
  --black: #000000;
  --red: #e91e63;
  --pink: #f06292;
  --purple: #ce93d8;
  --green: #dce775;
  --orange: #f78c6c;
  --blue: #82aaff;

  --serif: 'Lora', serif;
  --sans: 'Lato', sans-serif;
  --mono: 'Source Code Pro', sans-serif;

  --fast: 0.25s ease;

  font-family: var(--serif);
  line-height: 1.5em;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
header,
footer {
  background: var(--red);
  color: var(--white);
  text-align: center;
}
header {
  padding: var(--lg) var(--sm);
}
footer {
  padding: var(--md) var(--sm);
}
footer,
footer * {
  font-family: var(--sans);
}
header a,
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: var(--xs) 0;
  color: var(--white);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--huge);
}
main > section {
  margin: var(--md) auto;
  padding: 0 var(--sm);
}
h1 {
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  flex-basis: 100%;
  margin: 0;
}
h2 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  font-style: italic;
  flex-basis: 100%;
  margin: 0;
}
h3 {
  font-size: 2em;
  font-weight: bold;
  flex-basis: 100%;
  text-align: center;
  margin: var(--lg) 0 var(--xs) 0;
  padding: var(--xs) 0;
  border-top: solid var(--line) var(--gray);
  border-bottom: solid var(--line) var(--gray);
}
h4 {
  font-size: 1.25em;
  font-weight: bold;
  flex-basis: 100%;
  margin: 0;
  margin-top: var(--md);
}
a {
  color: var(--red);
}
p,
ul,
ol {
  flex-basis: 100%;
  margin: var(--xs) 0;
}
ul,
ol {
  padding-left: var(--md);
}
figure {
  display: inline-block;
  text-align: center;
}
img {
  width: var(--xxl);
  height: var(--xxl);
  max-width: 100%;
}
figure figcaption {
  width: 100%;
  margin-top: var(--xs);
  font-style: italic;
}
div.highlighter-rouge {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: var(--xs) 0;
  padding: var(--xs) var(--sm);
  background: var(--dark-gray);
  overflow-x: auto;
}
div.highlighter-rouge * {
  font-family: var(--mono);
  font-weight: 500;
}
pre {
  margin: 0;
}
.table_container {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  margin: var(--xs) 0;
}
th,
td {
  padding: var(--xs) var(--sm);
  border: solid var(--line) var(--light-gray);
}
.highlight {
  color: var(--white);
}
.nt {
  color: var(--pink);
}
.na,
.py,
.nl {
  color: var(--purple);
}
.s,
.n,
.no,
.m {
  color: var(--green);
}
.nf,
.nc {
  color: var(--orange);
}
.k,
.sx {
  color: var(--blue);
}
.c {
  color: var(--gray);
}
*:not(pre) > code {
  font-family: var(--mono);
  font-weight: 500;
  padding: 0 2px;
  background: var(--light-gray);
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 50%;
  min-width: var(--xxl);
  max-height: var(--xxxl);
  overflow-y: auto;
}
@media screen and (max-width: 800px) {
  .col {
    flex-basis: 100%;
  }
}
.large_img {
  width: var(--xxxl);
  height: var(--xxxl);
}
.medium_img {
  width: var(--xl);
  height: var(--xl);
}
.vr {
  border-radius: 100%;
}
.cc_icon {
  width: var(--sm);
  height: var(--sm);
  margin-right: var(--xxs);
}
.cc_icon:first-of-type {
  margin-left: var(--xxs);
}
.greene_lab {
  width: var(--md);
  height: var(--md);
}
.spoiler {
  background: var(--black);
  transition: background var(--fast);
}
.spoiler:hover {
  background: none;
}
